.logo {
    width: 100px;
    height: 50px;
  }

  .about-section{
    position:relative;
    padding:0px 0px;
  }
  
  .about-section .content-column{
    position:relative;
    margin-bottom:40px;
  }
  
  .about-section .content-column .inner-column{
    position:relative;
    padding-top:50px;
    padding-right:100px;
  }
  
  .about-section .content-column .text{
    position:relative;
    color:#777777;
    font-size:15px;
    line-height:2em;
    margin-bottom:40px;
  }

  
  .about-section .image-column{
    position:relative;
    margin-bottom:50px;
  }
  
  .about-section .image-column .inner-column{
    position:relative;
    padding:40px 40px 0px 0px;
    margin-left:50px;
  }
  
  .about-section .image-column .inner-column:after{
    position:absolute;
    content:'';
    right:0px;
    top:0px;
    left:40px;
    bottom:100px;
    z-index:-1;
    border:2px solid #d7a449;
  }
  
  .about-section .image-column .inner-column .image{
    position:relative;
  }
  
  .about-section .image-column .inner-column .image:before{
    position:absolute;
    content:'';
    left:-50px;
    bottom:-50px;
    width:299px;
    height:299px;
    background:url(img/pattern-2.png) no-repeat;
  }
  
  .about-section .image-column .inner-column .image img{
    position:relative;
    width:100%;
    display:block;
  }
  
  .about-section .image-column .inner-column .image .overlay-box{
    position:absolute;
    left:40px;
    bottom:48px;
  }
  
  .about-section .image-column .inner-column .image .overlay-box .year-box{
    position:relative;
    color:#d7a449;
    font-size:24px;
    font-weight:700;
    line-height:1.4em;
    padding-left:125px;
  }
  
  .about-section .image-column .inner-column .image .overlay-box .year-box .number{
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:110px;
    color:#d7a449;
    font-size:68px;
    font-weight:700;
    line-height:105px;
    text-align:center;
    background-color:#ffffff;
    border:1px solid #000000;
  }



  .sec-title2{
    color:#fff;
  }
  .sec-title {
      position: relative;
      padding-bottom: 40px;
  }
  .sec-title .title {
      position: relative;
      color: #183b56;
      font-size: 30px;
      font-weight: 700;
      padding-right: 50px;
      margin-bottom: 15px;
      display: inline-block;
      text-transform: capitalize;
  }
  .sec-title .title:before {
      position: absolute;
      content: '';
      right: 0px;
      bottom: 7px;
      width: 40px;
      height: 1px;
      background-color: #bbbbbb;
  }



  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .table{
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .table .price-section{
    display: flex;
    justify-content: center;
  }
  .table .price-area{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
  }
  .price-area .inner-area{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
  }
  .price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 17px;
  }
  .price-area .inner-area .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
  }
  .table .package-name{
    width: 100%;
    height: 2px;
    margin: 35px 0;
    position: relative;
  }
  .table .package-name::before{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    background: #fff;
    padding: 0 15px;
    transform: translate(-50%, -50%);
  }
  .table .features li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .features li .list-name{
    font-size: 17px;
    font-weight: 400;
  }
  .features li .icon{
    font-size: 15px;
  }
  .features li .icon.check{
    color: #2db94d;
  }
  .features li .icon.cross{
    color: #cd3241;
  }
  .table .btn{
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
  }
  .table .btn button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .table .btn button:hover{
    border-radius: 5px;
  }
  .basic .features li::selection{
    background: #ffd861;
  }
  .basic ::selection,
  .basic .price-area,
  .basic .inner-area{
    background: #ffd861;
  }
  .basic .btn button{
    border: 2px solid #ffd861;
    background: #fff;
    color: #ffd861;
  }
  .basic .btn button:hover{
    background: #ffd861;
    color: #fff;
  }
  .advanced ::selection,
  .advanced .price-area,
  .advanced .inner-area,
  .advanced .btn button{
    background: #ffd861;
  }
  .advanced .btn button:hover{
    background: #ffd861;
  }
  .premium ::selection,
  .premium .price-area,
  .premium .inner-area,
  .premium .btn button{
    background: #ffd861;
  }
  .premium .btn button:hover{
    background: #ffd861;
  }
  .ultimate ::selection,
  .ultimate .price-area,
  .ultimate .inner-area{
    background: #ffd861;
  }
  .ultimate .btn button{
    border: 2px solid #ffd861;
    color: #ffd861;
    background: #fff;
  }
  .ultimate .btn button:hover{
    background: #ffd861;
    color: #fff;
  }
  .basic .package-name{
    background: #ffd861;
  }
  .advanced .package-name{
    background: #ffd861;
  }
  .premium .package-name{
    background: #ffd861;
  }
  .ultimate .package-name{
    background: #ffd861;
  }
  .basic .package-name::before{
    content: "Basic";
  }
  .advanced .package-name::before{
    content: "Advanced";
    font-size: 24px;
  }
  .premium .package-name::before{
    content: "Premium";
    font-size: 24px;
  }
  .ultimate .package-name::before{
    content: "Ultimate";
    font-size: 24px;
  }
  @media (max-width: 1020px) {
    .wrapper .table{
      width: calc(50% - 20px);
      margin-bottom: 40px;
    }
  }
  @media (max-width: 698px) {
    .wrapper .table{
      width: 100%;
    }
  }
  ::selection{
    color: #fff;
  }
  .table .ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
  }
  .table .ribbon::before,
  .table .ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #ffd861;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .table .ribbon::before{
    top: 0px;
    right: 15px;
  }
  .table .ribbon::after{
    bottom: 15px;
    left: 0px;
  }
  .table .ribbon span{
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #ffd861;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  }
.banner {
	height: 60vh;
    background-size: cover;
 
}
.carousel-caption {
	padding-bottom: 250px;
  margin-top: 50px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #EDBB00;
}

  .banner-section-bg-container {
    background-image: url("bg1.jpg");
    height: 100vh;
    background-size: cover;
  }
  .banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
  }
  .banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
  }
  .custom-button {
    color: white;
    background-color: #ffd861;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
  }
  .wcu-section {
    background-color: #f9fbfe;
  }
  .wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
  }
  .wcu-card-image {
    width: 87px;
    height: 90px;
  }
  .wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
  }
  .wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
  }
  .offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
  }
 
  .our-section {
    background-color: #f9fbfe;
  }
  .our-section-img {
    width: 270px;
  }
  .our-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .our-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  
  .thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
  }
  .thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
  }
  .thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
  }
  .bg-container {
    background-color: white;
   
}

.icon {
    color:white;
    font-size: 20px;
}

.follow-us-container {
  background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-top:15px;
    padding-bottom:30px;
    padding-right:30px;
    padding-left:15px;
    margin-right: 8px;
    margin-bottom:8px;
}

.details {
    color:black ;
    font-size: 15px;
    font-family: "Roboto";

}



.icon-1 {
    color: black;
    font-size: 18px;
    
}

.hr-line {
    background-color: white;
}
.copyright{
  color :black;
  font-family: "Roboto";
  font-size:16px;
  font-weight:400px;
}
.footer-heading{
  color:#d0b200;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
ul.a {
  list-style-type: none;
}
 

  
  
