.logo {
	width: 100px;
	height: 50px;
  }
  form{
	  margin:35px;
  }
  .input-field{
	  width:100%;
	  height:40px;
	  margin-top:20px;
	  padding-left:10px;
	  padding-right:10px;
   
	  border-radius:14px;
	  outline:none;
  }
  .text-area{
	height:150px;
	padding-top:10px;
  
  }
  .contact_map {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .bg-container {
    background-color: white;
    min-height:100vh;
}

.icon {
    color:white;
    font-size: 20px;
}

.follow-us-container {
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-top:15px;
    padding-bottom:30px;
    padding-right:30px;
    padding-left:15px;
    margin-right: 8px;
    margin-bottom:8px;
   
}

.details {
    color:black ;
    font-size: 15px;
    font-family: "Roboto";

}



.icon-1 {
    color: black;
    font-size: 18px;
    
}

.hr-line {
    background-color: white;
}
.copyright{
  color :black;
  font-family: "Roboto";
  font-size:16px;
  font-weight:400px;
}
.footer-heading{
  color:#d0b200;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
